div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

.inputDecor{
    width: 638px;
    height: 54px;
    
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
}

button{
    
    width: 90px;
    height: 52px; 
    background: #1E6F9F;
    border-radius: 8px;
}

