.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4rem;
  mar
}

.container > div{
  display: flex;
}

.panelEmpty{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid black;
  border-radius: 100px;
}
.panelEmpty img{
  height: 100px;
}